body {
  margin: 0px;
  background-color: rgb(240, 240, 244);

}

nav p {
  text-align: center;
}

nav {
  background-color: rgb(114, 108, 108);
  height: 10vh;
  
}

.scores-add {
  display: flex;
  margin:auto 20% 1% 10%;
  justify-content: space-around;

}

.recent-scores {
  width: 40%;
}

.mydescription {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
  
}

#btnrefresh {
  height: 2rem;
  width: 5rem;
  margin-left: 2%;
  box-shadow: 3px 3px;
  border-color: black;
  
}

.result-scored p {
  padding: 2%;
  margin: 0;
}

.result-scored {
  border: 5px solid black;
}

.result-scored p:nth-child(even) {
  background: rgb(114, 108, 108);
}

.addresults {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: space-between;
  height: 25vh;
}

h1 {
  margin: 40px 40px 40px 90px;
  
  
}

footer {
  background-color: rgb(114, 108, 108);
  height: 5vh;
}
input {
  height: 100px;
  margin: 5px;
  border-color: black;
}
#submit {
  height: 5rem;
  width: 5rem;
  box-shadow: 3px 3px;
  border-color: black;
  position:relative;
  top: 2%;
  left: 79%;

}
